import {User} from "./Routes";
import Member = Components.Schemas.Member;
import MemberLoginBody = Components.RequestBodies.MemberLoginBody;
import MemberLoginVerifySmsBody = Components.RequestBodies.MemberLoginVerifySmsBody;
import MemberAccessToken = Components.Schemas.MemberAccessToken;
import MemberAgreement = Components.Schemas.MemberAgreement;
import MemberBankAccount = Components.Schemas.MemberBankAccount;
import MemberCreditCard = Components.Schemas.MemberCreditCard;
import MemberCreditCardBody = Components.RequestBodies.MemberCreditCardBody;
import MemberIdentificationPhoto = Components.Schemas.MemberIdentificationPhoto;
import MemberItem = Components.Schemas.MemberItem;
import MemberItemNegotiation = Components.Schemas.MemberItemNegotiation;
import MemberToOfficeDelivery = Components.Schemas.MemberToOfficeDelivery;
import MemberAddress = Components.Schemas.MemberAddress;
import MemberBankAccountBody = Components.RequestBodies.MemberBankAccountBody;
import MemberBody = Components.RequestBodies.MemberBody;
import MemberToOfficeDeliveryBody = Components.RequestBodies.MemberToOfficeDeliveryBody;
import MemberRegisterBody = Components.RequestBodies.MemberRegisterBody;
import MemberRegisterVerifySmsBody = Components.RequestBodies.MemberRegisterVerifySmsBody;
import MemberItemBody = Components.RequestBodies.MemberItemBody;



class DummyHandler {

{{#apiInfo}}
    {{#apis}}
        {{#operations}}
            {{#operation}}
public {{nickname}} = async (
                {{#hasAuthMethods}}
                user: User,
                {{/hasAuthMethods}}

{{#pathParams}}
                {{paramName}}{{^required}}?{{/required}}: {{{dataType}}},
{{/pathParams}}
                {{#bodyParam}}
                body: {{dataType}}Body,
                {{/bodyParam}}
                ){{#returnType}}: Promise<{{{returnType}}}>{{/returnType}}{{^returnType}}{{/returnType}} => {
{{#returnType}}
    {{#isString}}string{{/isString}}
    return {
    }
{{/returnType}}
}
            {{/operation}}
        {{/operations}}
    {{/apis}}
{{/apiInfo}}

}
export default new DummyHandler()

